:root {
  --dark-slate-gray: #2d3e4f;
  --light-sea-green: #25ccbf;
  --steel-blue: #3b99d9;
  --steel-blue-2: #2e80b6;
  --dark-khaki: #a8d069;
  --medium-sea-green: #30ad64;
  --light-sea-green-2: #20ac99;
  --sandy-brown: #f8c740;
  --goldenrod: #e2a62b;
  --khaki: #face6a;
  --sandy-brown-2: #e4b962;
  --salmon: #fd7072;
  --indian-red: #cf404d;
  --tan: #d39f9a;
  --dim-gray: #735260;
  --indian-red-2: #af4173;
  --brown: #822e50;
  --tomato: #e64c40;
  --firebrick: #bf3a30;
  --salmon-2: #fc7d64;
  --white-smoke: #ecf0f1;
  --silver: #bec3c7;
  --dim-gray-2: #49647b;
  --dark-slate-gray-2: #404047;
  --white-smoke-2: #f0f0f0;
  --white-smoke-3: #edeff2;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #000000bd;
  background-color: #edeff2;
  height: 100%;
  padding-left: 329px;
  font-family: Oswald, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  color: #313131;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

h6 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Droid Sans, sans-serif;
  font-size: 15px;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #cf404d;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  transition: background-color .3s;
  display: inline-block;
}

.button:hover {
  background-color: #000;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  background-color: #002e00;
  width: 50%;
  margin-left: -38px;
  display: block;
  position: relative;
  left: 153px;
}

.brand-text {
  color: #fff;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
  position: static;
  bottom: 130px;
}

.section {
  text-align: center;
  background-color: #fff;
  padding: 63px 40px;
  position: relative;
}

.section.section-gray {
  background-color: #fafafa;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.stickyheader {
  color: #fff;
  background-color: #002e00;
  margin-bottom: 26px;
  padding: 44px 40px;
  position: sticky;
}

.call-to-action-heading {
  margin-top: 3px;
  margin-bottom: 0;
  font-weight: 400;
}

.align-right {
  text-align: right;
}

.hero-heading {
  color: var(--dark-slate-gray);
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 19px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 50px;
  font-weight: 400;
}

.hero-subheading {
  color: var(--dark-slate-gray);
  text-align: justify;
  letter-spacing: 1.5px;
  text-indent: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding: 85px 41px 67px 65px;
  font-family: Georgia, Times, Times New Roman, serif;
}

.hollow-button {
  color: #1db0fc;
  border: 2px solid #1db0fc;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 11px 20px;
  line-height: 21px;
  text-decoration: none;
  transition: background-color .3s, border .3s, color .3s;
  display: inline-block;
}

.hollow-button:hover {
  color: #000;
  border-color: #000;
}

.hollow-button.white {
  color: #fff;
  border-color: #fff;
}

.hollow-button.white:hover {
  color: #fff;
  background-color: #2d3e4f;
  border-color: #2d3e4f;
}

.hollow-button.red {
  color: #fff;
  background-color: #25ccbf;
  border-color: #fff;
}

.hollow-button.red:hover {
  background-color: #0000;
}

.section-heading {
  margin-top: 0;
  margin-bottom: 16px;
}

.section-heading.centered {
  color: #313131;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
}

.section-subheading.left {
  color: #000;
  text-align: left;
  background-color: #fff0;
  margin-bottom: -43px;
  font-family: Droid Sans, sans-serif;
  font-size: 19px;
  line-height: 30px;
}

.section-title-group {
  margin-bottom: 62px;
}

.form-field {
  color: #000;
  text-align: left;
  border: 0 solid #000;
  border-radius: 3px;
  min-height: 45px;
  margin-bottom: 17px;
  margin-right: 1px;
  box-shadow: 0 0 0 1px #4040474d;
}

.form-field:focus {
  box-shadow: 0 0 0 1px #2e80b6;
}

.form-field.text-area {
  text-align: left;
  min-height: 110px;
}

.form-wrapper.squeezed {
  padding-left: 19%;
  padding-right: 19%;
}

.social-icon-link {
  opacity: .66;
  padding: 3px;
  transition: opacity .3s;
}

.social-icon-link:hover {
  opacity: 1;
}

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer.center {
  text-align: center;
  padding-top: 21px;
  padding-bottom: 21px;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.link {
  color: #cf404d;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
}

.link:hover {
  color: #30ad64;
}

.grid-image {
  margin-bottom: 19px;
  padding-top: 0;
}

.hero-title-wrapper {
  opacity: 1;
  color: #ffffffbd;
  text-align: center;
  background-color: #fff;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: Georgia, Times, Times New Roman, serif;
  position: relative;
  top: 10%;
}

.left-navigation {
  background-color: #002e00;
  width: 329px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.nav-link {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 15px;
  display: block;
}

.nav-link:hover {
  color: #cf404d;
}

.nav-link.w--current {
  color: #25ccbf;
}

.nav-menu {
  float: none;
}

.logo-link {
  float: none;
  text-align: center;
  margin-top: 216px;
  margin-bottom: 50px;
  display: block;
  position: relative;
  top: -131px;
}

.social-footer {
  text-align: center;
  margin-bottom: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid-fours {
  float: left;
  grid-template-columns: 1fr;
  justify-items: start;
  width: 25%;
  padding: 10px;
}

.banner {
  background-color: #fff;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  height: 100%;
}

.content {
  height: 100%;
}

.success-message {
  text-align: center;
}

.paragraph-form {
  margin-bottom: 0;
}

.image {
  position: relative;
  bottom: -92px;
  left: 79px;
}

.headerlink {
  color: var(--light-sea-green);
}

.image-2 {
  position: relative;
  bottom: -55px;
  left: 81px;
}

.image-3 {
  margin-top: -7px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.image-4 {
  margin-bottom: 16px;
}

.container {
  object-fit: cover;
  background-color: #002e00;
  height: 150px;
}

.div-block {
  text-align: center;
  width: 100%;
}

.image-5 {
  float: right;
  margin-top: 40px;
}

.sticky-nav {
  z-index: 1;
  background-color: #002e00;
  height: 10%;
  padding: 20px;
  position: sticky;
  top: 0;
  overflow: visible;
}

.nav-grid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
}

.nav-logo-link {
  height: 60px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  display: block;
}

.nav-logo {
  object-fit: contain;
  object-position: 0% 50%;
  width: auto;
  height: 100%;
}

.nav-link-2 {
  color: #444;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 0;
  text-decoration: none;
  display: block;
}

.nav-link-2:hover {
  text-decoration: underline;
}

.div-block-2 {
  margin-top: 166px;
  padding-right: 0;
}

.column {
  padding-top: 79px;
  padding-left: 0;
}

.grid {
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr;
}

.section-2 {
  padding-bottom: 67px;
}

.sticky-nav-2 {
  z-index: 1;
  background-color: #002e00;
  padding: 20px;
  position: sticky;
  top: 0;
}

.nav-grid-2 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content max-content max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
}

.div-block-3 {
  background-color: #002e00;
  position: sticky;
}

.form-block {
  background-color: #002e00;
}

.text-field {
  width: 500px;
  height: 35px;
  padding-left: 10px;
}

.submit-button {
  width: 70px;
  height: 35px;
}

.form {
  padding-top: 10px;
}

.column-2 {
  padding-left: 0;
}

.columns {
  object-position: 50% 50%;
  transition: opacity .2s;
}

.grid-2 {
  grid-row-gap: 16px;
  grid-template-columns: .75fr 2fr 1fr;
}

.grid-3 {
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  grid-template-rows: auto 0;
  grid-template-columns: 4.75fr .25fr .25fr;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.bold-text {
  font-size: 25px;
  line-height: 25px;
}

.text-block {
  text-decoration: underline;
}

.text-block.instructors-label {
  text-align: left;
  font-style: normal;
  text-decoration: none;
}

.grid-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.paragraph {
  text-align: left;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
}

.link-2 {
  padding-left: 30px;
}

.link-3 {
  text-align: left;
  padding-left: 29px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.form-2 {
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.modalfulldivblock {
  z-index: 5;
  background-color: #0006;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
}

.modalpopupdivblock {
  object-fit: fill;
  background-color: #fff;
  border-radius: 18px;
  width: 800px;
  height: auto;
  max-height: 100%;
  margin: auto;
  display: block;
  position: absolute;
  inset: 0% 30% 0% 0%;
}

.heading {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
}

.div-block-4 {
  margin: auto;
  padding: 50px 60px 20px 8px;
}

.grid-5 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.div-block-5 {
  cursor: pointer;
  padding: 10px 20px;
  position: absolute;
  inset: 0% 0% auto auto;
}

.div-block-6 {
  padding-left: 8px;
}

.button-2 {
  justify-content: center;
  align-items: center;
  min-width: 120px;
  margin-left: 0;
  margin-right: 90px;
  display: block;
  position: relative;
}

.image-6, .image-7, .image-8 {
  display: block;
}

.membersmodal {
  z-index: 3;
  background-color: #00000073;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
}

.alumnimodal {
  z-index: 3;
  background-color: #0000008c;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
}

.image-9 {
  position: static;
}

.paragraph-2 {
  float: none;
  text-align: left;
  position: static;
}

.paragraph-3, .paragraph-4, .paragraph-5 {
  text-align: left;
}

@media screen and (max-width: 991px) {
  body {
    margin-left: 0;
    padding-left: 0;
  }

  .hamburger-button {
    color: #fff;
  }

  .hamburger-button.w--open {
    background-color: #cf404d;
  }

  .form-wrapper.squeezed {
    padding-left: 8%;
    padding-right: 8%;
  }

  .hero-title-wrapper {
    top: 40%;
  }

  .left-navigation {
    float: none;
    width: 100%;
    height: auto;
    position: relative;
    inset: 0 0 auto;
  }

  .nav-link {
    text-align: left;
    padding-left: 13px;
  }

  .nav-menu {
    background-color: #49647b;
  }

  .logo-link {
    float: left;
    margin-top: 14px;
    margin-bottom: 0;
    margin-left: 10px;
  }

  .social-footer {
    display: inline-block;
    position: absolute;
  }

  .banner {
    height: 500px;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    margin-top: 10px;
  }

  .section {
    padding-left: 10px;
    padding-right: 10px;
  }

  .call-to-action-heading {
    text-align: center;
    margin-bottom: 13px;
  }

  .align-right {
    text-align: center;
  }

  .hero-heading {
    font-size: 37px;
  }

  .hero-title-wrapper {
    top: 35%;
  }

  .grid-fours {
    width: 33.333%;
  }

  .column-0-padding {
    text-align: center;
    margin-bottom: 15px;
  }

  .column-remove-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .sticky-nav-2 {
    position: relative;
  }

  .nav-grid-2 {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .brand-text {
    position: relative;
  }

  .form-wrapper.squeezed {
    padding-left: 2%;
    padding-right: 2%;
  }

  .hero-title-wrapper {
    top: 28%;
  }

  .logo-link {
    padding-bottom: 0;
  }

  .banner {
    height: 450px;
  }

  .sticky-nav {
    padding: 0;
  }

  .nav-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 100px;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link-2 {
    border-top: 1px solid #c4c4c4;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sticky-nav-2 {
    padding: 0;
  }

  .nav-grid-2 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 100px;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}

#w-node-_22046c60-d214-0d30-b264-457ba56f53fe-76639795, #w-node-_243cea45-83de-e94d-c0b1-ea8cbfc3d413-76639795, #w-node-d188f6cf-4885-2688-61bc-f8662c3feb16-76639795, #w-node-d188f6cf-4885-2688-61bc-f8662c3feb18-76639795 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_4f528907-1aec-7307-3816-4df70bfad036-76639795 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: auto;
}

#w-node-_2f90717e-cd0b-5511-8ce0-deb47257b91a-76639795 {
  align-self: center;
}

#w-node-ef2520eb-c224-5899-0c15-70b5ea201c2f-76639795 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}


